In [1]:
# Exercise 1
def sum(n: int) -> int:
    if (n <= 0):
        return 0
    return n + sum(n-1)


def is_odd(num: int) -> str:
    if (num & 1 == 0):
        return "Even"
    return "Odd"

In [2]:
sum(10)

55

In [3]:
is_odd(3)

'Odd'

In [4]:
import numpy as np
import openpyxl

file = openpyxl.load_workbook("./data_set_train.xlsx")
ws = file.active

data = []
col = []

for row in ws.iter_rows(max_row=1):
  for cell in row:
    col.append(cell.value)

for row in ws. iter_rows(min_row=2):
  ls = []
  for cell in row:
    ls.append(cell.value)
  data.append(ls)

In [5]:
arr = np.array(data)
arr.shape

(17400, 29)

In [6]:
data_set = arr[:,:9] # 모든 행에서 첫 9개 
data_set

array([['강남역우정에쉐르', '2006Q1', '9000.0', ..., '7.0', '37.4942041',
        '127.0435446'],
       ['강남역우정에쉐르', '2006Q1', '9000.0', ..., '7.0', '37.4942041',
        '127.0435446'],
       ['개포주공1단지', '2006Q1', '73000.0', ..., '3.0', '37.4784072',
        '127.061375'],
       ...,
       ['현대하이츠', '2017Q3', '64000.0', ..., '1.0', '37.4913789',
        '127.0348797'],
       ['현대한강', '2017Q3', '170000.0', ..., '8.0', '37.5246752',
        '127.056226'],
       ['현대한강', '2017Q3', '170000.0', ..., '8.0', '37.5246752',
        '127.056226']], shape=(17400, 9), dtype='<U32')

In [7]:
# Exercise 2
data_set2006 = data_set[data_set[:,1] <= "2006Q4",:]
data_set2006

array([['강남역우정에쉐르', '2006Q1', '9000.0', ..., '7.0', '37.4942041',
        '127.0435446'],
       ['강남역우정에쉐르', '2006Q1', '9000.0', ..., '7.0', '37.4942041',
        '127.0435446'],
       ['개포주공1단지', '2006Q1', '73000.0', ..., '3.0', '37.4784072',
        '127.061375'],
       ...,
       ['현대빌라트', '2006Q4', '125000.0', ..., '3.0', '37.5179279',
        '127.0428004'],
       ['현대빌라트', '2006Q4', '125000.0', ..., '3.0', '37.5179279',
        '127.0428004'],
       ['현대빌라트', '2006Q4', '125000.0', ..., '3.0', '37.5179279',
        '127.0428004']], shape=(2617, 9), dtype='<U32')

In [8]:
data_set2006.shape

(2617, 9)

In [9]:
price = data_set2006[:,2]
price.dtype

dtype('<U32')

In [10]:
print(data_set2006[0])

price = data_set2006[:,2].astype(float)
lat = data_set2006[:,7].astype(float)
lng = data_set2006[:,8].astype(float)

['강남역우정에쉐르' '2006Q1' '9000.0' '2004.0' '역삼동' '17.23' '7.0' '37.4942041'
 '127.0435446']

In [11]:
# Exercise 3

In [ ]:
# Exercise 4 - Yearly Average Price
# 년도 별 평균 매매가

yearlyAvgPrice = {}

for year in range(2006, 2018):
  # tmp =

SyntaxError: invalid syntax (1031854054.py, line 7)